body {
    font-family: Arial, sans-serif;
    background: #eef2f3;
}

.container {
    width: 50%;
    margin: auto;
    background: white;
    padding: 20px;
    margin-top: 30px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px gray;
}

input, button {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
}

button {
    background: #2196F3;
    color: white;
    border: none;
    cursor: pointer;
}

button:hover {
    background: #0b7dda;
}
